body {
    background-image: url("stadium.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.container {
    background: cornsilk
    
}

div{
     margin-top: 20px; 
     margin-bottom: 460px; 
    width: 900px;
}
.container div{
    
/* width: 900px; 
background: white*/
display: flex;
    align-items: center;
    justify-content: center;
} 
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn1 {
    background: darkred;
}

#increment-btn2 {
    background: darkred;
}

#increment-btn3 {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

